.Dice {
  margin: 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70%;
}

@media (max-width: 1024px) {
  /* .Dice {
    height: 50%;
  } */
}

@media (max-width: 420px) {
  /* .Dice {
    margin: 0;
  } */
}
