.GameOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 100%;
    background-color: white;
    padding-top: 3rem;
  }

  .GameOver h1 {
    font-size: 3rem;
    margin-bottom: 1%;
  }

  .GameOver h2 {
    font-weight: bold;
    border-bottom: none;
  }

  .btn {
    margin-top: 1rem;
  }

  .play-again a {
    text-decoration: none;
    color: white;
  }
  
  .play-again:hover {
    cursor: pointer;
    background-position: right center;
  }

  @media (max-width: 420px) {
    .GameOver h1 {
      font-size: 2em;
    }
    .play-again {
      font-size: 1.5em;
    }
  }