.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  /* height: 90vh; */
  background: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  /* margin: auto; */
}

.Game-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Game-help {
  font-size: 2em;
  color: white;
  font-weight: 100;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to right,
    #9c27b0 0%,
    #7f7fd5 51%,
    #9c27b0 100%
  );
  border-radius: 0.5rem;
  border: none;
  width: 30%;
  margin-top: 2%;
}

.Game-help a {
  text-decoration: none;
  color: white;
}

.Game-help:hover {
  cursor: pointer;
  background-position: right center;
}