.ScoreTable {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
}

.ScoreTable-section-container {
  display: flex;
  width: 98%;
  align-self: center;
}

.ScoreTable-section {
  vertical-align: top;
  flex: 1;
}

h2 {
  font-weight: 100;
  font-size: 1.5em;
  border-bottom: 2px solid purple;
  display: inline-block;
}

.ScoreTable table {
  width: 96%;
  margin: 0 auto;
}

.ScoreTable .total-score h2 {
  font-weight: bold;
  margin-bottom: 1%;
}



