/* .ScoreTable {
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 100%;
  padding: 1%;
  padding-bottom: 0;
  background-color: white;
} */

/* .ScoreTable-section-container {
  display: flex;
  width: 100%;
} */

/* .ScoreTable-section {
  width: 50%;
} */
.ScoreTable {
  font-size: 0.8rem;
}
.ScoreTable h2 {
  font-weight: bold;
  font-size: 1.25em;
  /* border-bottom: 2px solid purple; */
  display: inline-block;
}

/* .ScoreTable table {
  width: 96%;
  margin: 0 auto;
} */

/* .ScoreTable .total-score {
  margin-top: 3.5%;
} */

.ScoreTable .total-score h2 {
  font-weight: bold;
  /* font-size: 2em; */
  /* margin-bottom: 1%; */
}

/* @media (max-width: 1024px) {
  .ScoreTable {
    font-size: 1.3em;
  }
  .ScoreTable-section-container {
    width: 70%;
    height: 85%;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .ScoreTable-section {
    width: 100%;
  }
  .ScoreTable .total-score {
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
  }
} */

/* @media (max-width: 768px) {
  .ScoreTable {
    font-size: 1em;
  }
}

@media (max-width: 420px) {
  .ScoreTable {
    height: 75%;
    font-size: small;
  }
  .ScoreTable-section-container {
    width: 100%;
    height: 100%;
  }
  .ScoreTable-section h2 {
    margin: auto;
  }
}

@media (max-width: 350px) {
  .ScoreTable {
    font-size: x-small;
  }
} */


