.ScoreTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  
}

.ScoreTable-section-container {
  display: flex;
  width: 95%;
  align-self: center;
}

.ScoreTable-section {
  vertical-align: top;
  flex: 1;
}

h2 {
  font-weight: 100;
  font-size: 1.5em;
  border-bottom: 2px solid purple;
  display: inline-block;
}

.ScoreTable table {
  width: 100%;
  margin: 0 auto;
  min-width: 400px;
}


